.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.images {
  font-size: 20px;
  padding: 1rem;
  text-align: center;
}

.img {
  width: 200px;
}
